body{
  background-color: #ffe8ecc6;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: inherit;
  border-radius: 5px;
}

.main{
  width: 600px;
  background-color: #ffffff;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
}
.prep{
  background-color: #fef6f7;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 130px;
}
.prep ul{
  padding-left: 20px;
  margin-top: 0;
  font-size: 13px;
}
.prep li{
  margin-bottom: 10px;
}
.prep ::marker{
  margin-right: 100px;
}
.prep h4{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.main ul{
  margin-top: 0;
}