body{
  background-color: #ffe8ecc6;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #000000a4;
}

hr{
  margin-top: 35px;
  margin-bottom: 35px;
}

img{
  width: inherit;
  border-radius: 5px;
}
li{
  padding-left: 15px;
}
.main{
  width: 600px;
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 30px;
  border-radius: 10px;
}
.prep{
  background-color: #fef6f7;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 130px;
}
.prep ul{
  padding-left: 20px;
  margin-top: 0;
  font-size: 13px;
}
.prep li, .ingred li{
  margin-bottom: 10px;
}
.prep h4{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.main ul{
  margin-top: 0;
}
.ingred h1, .instruct h1, .nutri h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #7b4551ee;
}
.ingred ul{
  padding-left: 30px;
}
.instruct ol{
  padding-left: 25px;
}
.instruct li{
  margin-bottom: 12px;
}
.instruct li::marker{
  color: #7b4551ee;
  font-weight: 600;
}
.nutri ul{
  padding-left: 25px;
  list-style: none;
  margin-top: 30px;
}
.nutri li{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  justify-content: space-between;
}
.nutri hr{
  margin: 10px;
}
.nutri b{
  color: #7b4551ee;
  margin-right: 250px;
}
